@tailwind base;
  @tailwind components;
  @tailwind utilities;

  

@layer components {
  /* .mask-radial {
    -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 79.17%, rgba(217, 217, 217, 0) 100%);
    mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 79.17%, rgba(217, 217, 217, 0) 100%);
  } */
  .mask-radial {
    -webkit-mask-image: radial-gradient(70% 70% at 50% 50%, #8A2BE2 90%, rgba(138, 43, 226, 0) 100%);
    mask-image: radial-gradient(70% 70% at 50% 50%, #8A2BE2 90%, rgba(138, 43, 226, 0) 100%);
  }
  
  .mask-radial-2 {
    -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 15%, rgba(217, 217, 217, 0) 100%);
    mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 100%, rgba(217, 217, 217, 0) 100%);
  }
  .blur-performance {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
  }
}

@layer base {
  

  :root {    --background: 0 0% 3.9%;    --foreground: 0 0% 98%;    --card: 0 0% 3.9%;    --card-foreground: 0 0% 98%;    --popover: 0 0% 3.9%;    --popover-foreground: 0 0% 98%;    --primary: 243.4 75.4% 58.6%;    --primary-foreground: 0 0% 9%;    --secondary: 0 0% 14.9%;    --secondary-foreground: 0 0% 98%;    --muted: 0 0% 14.9%;    --muted-foreground: 0 0% 63.9%;    --accent: 0 0% 14.9%;    --accent-foreground: 0 0% 98%;    --destructive: 0 62.8% 30.6%;    --destructive-foreground: 0 0% 98%;    --border: 0 0% 14.9%;    --input: 0 0% 14.9%;    --ring: 0 0% 83.1%;    --chart-1: 220 70% 50%;    --chart-2: 160 60% 45%;    --chart-3: 30 80% 55%;    --chart-4: 280 65% 60%;    --chart-5: 340 75% 55%; --radius: 0.5rem;  }
}


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

.animate-bg-gradient-to-center-title {
  animation: bg-to-center 1s 0.95s ease 1 forwards;
}

@keyframes bg-to-center {
  to {
    background-position: center;
  }
}